.container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inner-container{
    /* background-color: black; */
    height: 70%;
    width: 60%;
}
h1{
    /* color: #fff; */
    font-weight: 700;
    text-align: center;
}
label{
    margin-right: 10px;
    margin-bottom: 10px;
}